.App {
  text-align: center;
  
}


.App-logo {
  margin-left: 20px;
}

.App-header {
  background-color: #6a80ad;
  border: solid;
  border-color: whitesmoke;
  max-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-form {  
  background-color: #97a5c0;
  border: solid;
  border-color: whitesmoke;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-form-input {  
  margin-right: 20px;
  min-height: 40px;
  min-width: 700px;
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;  
}

.App-show-form-buttons {
  background-color: #97a5c0;
  border: solid;
  border-color: whitesmoke;
  min-height: 30px;
  justify-content: space-between;
}

.show-form-button {
  background-color: #97a5c0;
  border-color: #97a5c0;
  color: white;
  font-size: calc(10px + 1vmin);
  min-height: 30px;  
}

.submit-button {
  min-height: 40px;
  min-width: 100px;
  font-size: calc(20px);
}
.cancel-button {
  min-height: 40px;
  min-width: 20px;
  font-size: calc(20px);
}

#projectname{
  height: 35px;
  width: 200px;
  font-size: calc(20px); 
}

.dropdown{
  height: 40px;
  width: 200px;
  font-size: calc(17px);
}

#clientname {
  height: 35px;
  width: 600px;
  font-size: calc(20px); 
}
#employeename {
  height: 35px;
  width: 350px;
  font-size: calc(20px); 
}
#employeetitle {
  height: 35px;
  width: 242px;
  font-size: calc(20px); 
}



.App-link {
  color: #61dafb;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
} */
